<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="TfsSettings" type="Gluon.XmlSerializerSectionHandler, Gluon" />
    <section name="CommonSettings" type="Gluon.XmlSerializerSectionHandler, Gluon" />
  </configSections>
  
  <TfsSettings type="Gluon.TfsSettings, Gluon">
    <Uri>http://tfs.someaddress:8080/tfs</Uri>
    <ProjectPath>$/MY_PROJECT</ProjectPath>
  </TfsSettings>
  
  <CommonSettings type="Gluon.CommonSettings, Gluon">
    <Namespace>OracleHelpers</Namespace>
    <TargetProject>Project1</TargetProject>
    <TargetProjectNameSpace>Project1Namespace</TargetProjectNameSpace>
    <StoredProcReturnName>Return</StoredProcReturnName>
    <IndentValue>4</IndentValue>
    <UsingTfs>true</UsingTfs>
  </CommonSettings>
    
  <connectionStrings>
    <add name="OraConnection"
         connectionString="Data Source=OraService;Persist Security Info=True;User Id=user;Password=password;"
         providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>